/* Module - Article detail - Start */
.module-article-detail{
  .article-detail-title{
    @extend .all-module-title;
    padding-top: 20px;
  }
  .article-detail-album{
    height: 500px;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid $border-yeallow;
    img{
      width: 100%;
      transition: 1s;
    }
    .album-content{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 35px 30px;
      width: 400px;
      color: #fff;
      @include css-background(#000, 0.5);
      .album-content-pane{
        height: 430px;
        width: 100%;
        overflow: auto;
      }
    }

    .detail-album-calendar{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    .carousel-control,
    .carousel-indicators{
      display: none;
    }
  }
  .album-list{
    overflow: hidden;
    padding: 30px 25px;
    @include css-background($background-paging, 0.9);
    ul{
      width: 101%;
      margin-bottom: 0;
      text-align: center;
      li{
        width: 210px;
        height: 130px;
        overflow: hidden;
        img{

        }
      }
      li+li{
        margin-left: 10px;
      }
    }
  }
}
/* Module - Article detail - End */
