/* Module - Article Exp - Start */
.module-article-exp{
  .article-exp-quote-left{
    background:url("img/quote-left.png") no-repeat left top;
  }
  .article-exp-quote-right{
    background:url("img/quote-right.png") no-repeat right bottom;
    padding:38px;
  }
  .article-exp-content{
    color:#cac0b2;
    font-style:italic;
    font-size: 15px;
    height: 65px;
    overflow:hidden;
    ul{
      margin:0;
    }
    .item {
      opacity: 0;
      transition: 1s;
    }
    .item.fade-active{
      opacity: 1;
    }
  }
  //
  // .article-exp-share{
  //   color:#fff;
  //   font-weight: bold;
  //   font-size: 16px;
  //   padding-top:10px;
  // }
  // .article-exp-icons{
  //   text-align:center;
  //   padding-top:40px;
  // }
}
/* Module - Article Exp - End */
