/* Module - Destination List - Start */
.module-destination-list{
  .list-item{
    li{}
    .avatar{}
    .content{
      .date{}
      .title{
        color: $title-color;
        &:hover{
          color: $title-hover-color;
        }
      }
      .describe{
        color: $base-color;
      }
    }
  }
}
/* Module - Destination List - End */
