/* Module - destination menu horizontal - Start */
.module-destination-menuH{
  .module-menuH-body{

  }
  .list-inline{
    margin-bottom: 0;
    width: 106%;
    font-size: 0;
    .menu-body{
      background: #402601;
      width: 220px;
      display: block;
      text-decoration: none;
      padding: 15px 0;
      .menu-avatar,
      .menu-title{
        display: block;
        text-align: center;
      }
      .menu-title{
        color: $base-color;
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
/* Module - destination menu horizontal - End */
