/* Module - destination menu vertical - Start */
.module-destination-menuV{
  padding-top: 30px;
  .list-inline{
    margin: 0;
    li{
      display: block;
      padding: 0;
    }
    li+li{
      margin-top: 10px;
    }
    .menu-body{
      background: #402601;
      display: table;
      text-decoration: none;
      padding: 15px 0;
      width: 100%;
      .menu-avatar,
      .menu-title{
        display: table-cell;
        text-align: left;
      }
      .menu-avatar{
        width: 100px;
        text-align: center;
      }
      .menu-title{
        color: $base-color;
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
/* Module - destination menu vertical - End */
