/* Module - Exprience detail - Start */
.module-exprience-detail{
  .detail-content{
    color: #af8449;
    font-size: $title-size-h6;
    text-align: justify;
    h1{
      font-size: $title-size-h2;
    }
    h2{
      font-size: $title-size-h3;
    }
    h3{
      font-size: $title-size-h4;
    }
    h4{
      font-size: $title-size-h5;
    }
  }
}
/* Module - Exprience detail - End */
