/* Module - ContentText Hotline - Start */
.contentText-hotline{
  color: #886026;
  background: #331e01;
  padding: 17px 25px 25px;
  display: inline-block;
  box-shadow: 0px 0px 5px 1px #8b7b65;
  .hotline{
    color: #ff262e;
    font-size: 31px;
  }
}
/* Module - ContentText Hotline - End */
