/* Module - Tour Hot - Start */
.module-tour-hot{
  @include css-background($background-paging, 0.9);
  .list-item{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      a{
        text-decoration: none;
      }
    }
    li+li{
      border-top: 1px dashed $border-yeallow;
      padding-top: 30px;
      margin-top: 30px;
    }
    .tour-hot-body{

      .avatar{}
      .title{
        color: $title-color;
        font-size: $title-size-h5;
        text-decoration: none;
        display: block;
        padding: 10px 0;
        &:hover{
          color: $title-hover-color;
        }
      }
      .price{
        font-size: $title-size-h5;
        color: $base-color;
        font-weight: bold;
        span{
          color: gray;
        }
      }
    }

  }
}
/* Module - Tour Hot - End */
