
/* Module - Tour Create - Start */
.module-tour-create{
  position: relative;
  overflow:hidden;
  .tour-create-avtar{
    text-align: center;
  }
  .create-wrapper{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .create-title{
    color: #684b1d;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    padding:20px 0;
  }
  .create-descrip{
    color:#fff;
    font-size: 18px;
    font-style:italic;
    padding:0 0 40px;
  }
  .create-content{}
}
/* Module - Tour Create - End */
