/* COMMON Style - Start */
.background-default{
  background: $background-default;
}
.no-background{
  background:none !important;
  margin: 0 !important;
}
.middle-outer{
  display: table;
   height: 100%;
   width: 100%;
}
.middle-inner{
  display: table-cell;
    vertical-align: middle;
}
.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}
.article-calendar{
  width: 57px;
  height: 73px;
  text-align: center;
  vertical-align: middle;
  .day{
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #614214;
    font-size: 20px;
    font-weight: bold;
    background: $border-yeallow;
  }
  .month{
    font-size: 12px;
    height: 22px;
    color: #fefffd;
    background: #a88f00;
  }
}
.all-module-title{
  color: #ffc900;
  font-size: $title-size-h1;
  padding: 30px 0 20px;
  margin: 0;
}
.module-tour-related{
  .related-tours-header{
    @extend .all-module-title;
  }
}
.app-module+.app-module{
  margin-top: 15px;
}
.btn-viewmore{
  background-color: $border-yeallow;
  color: #6a4a21;
}
/* COMMON Style - End */

/* MODULE Background brown - Start */
.module-container-background-brown{
  background: #402601;
  .module-header{
    padding: 20px;
    color: #ffc900;
    font-size: $title-size-h3;
  }
  .module-body{
    padding: 0 20px 20px;
  }
}
/* MODULE Background brown - End */

/* PAGINATION - Start */
.pagination{
  padding:0;
  margin:0;
  >li:first-child>a,
  >li:first-child>span{}

  >li>a,
  >li>span{
    color: $base-color;
    background: $background-paging;
    margin: 0 4px;
    border-radius: 4px;
    border:1px solid $background-paging;
  }

  >.disabled>span,
  >.disabled>span:hover,
  >.disabled>span:focus,
  >.disabled>a,
  >.disabled>a:hover,
  >.disabled>a:focus{
    color: $base-color;
    background-color: $background-paging;
    border-color: $background-paging;
    cursor: not-allowed;
  }
  /* PAGINATION - End */
}
