/*----------------------------- HEADER - Start ---------------------------*/

/* Module - logo - Start */
.module-logo{
  padding:20px;
}
/* Module - logo - End */

/* Module - Menu - Start */
.module-menu{
  position: relative;
  .nav{
    width:101%;
  }
  .nav-pills>li>a{
    padding-left:30px;
    padding-right:30px;
  }
  a{
    border-radius: 0!important;
  }
  .nav-pills>li+li{
    /*margin: 0!important;*/
  }

  .nav-pills>li>a{
    color: $menu-text-color;
  }
  .nav-pills {
    >li>a:hover,
    >li>a:focus,
    >li.active>a,
    >li.active>a:hover,
    >li.active>a:focus {
      color: $menu-text-color;
      @include css-background($menu-text-color, 0.1);
    }
  }
  li{
    position: static;
  }
  li.lv1{
    &.parent_6,
    &.parent_9{
      position: relative;
    }
  }
  /* lv2 */
  ul>li:hover>ul{
    display:block;
  }
  ul{
    ul{
      position:absolute;
      margin:0;
      padding:0;
      display:none;
      top:100%;
      left:0;
      right:0;
      list-style-type: none;
    }
    .parent_6,
    .parent_9{
      ul{
        right: auto;
        bottom: auto;
        height: auto;
        width: auto;
        li{
          padding-left: 30px;
        }
      }
    }
  }

  ul ul a{
    text-decoration: none;
  }
  ul ul span{
    color: $menu-text-color;
  }
  ul.lv2{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px 0;
    height: 335px;
    border-bottom: 1px solid $menu-background-color;
    @include css-background(rgb(50,36,7), 0.94);
  }
  ul.lv2>li{
    padding-left:40px;
    width:256px;
  }
  ul.lv2>li+li{
    margin-top:1px
  }
  li.lv2>a{
    padding: 5px 0 5px 10px;
    margin-right: 10px;
    display:block;
    background: url(img/menu-lv2-icon.png) no-repeat left center;
  }

  li.lv2:hover,
  li.lv2.active{
    background: $menu-background-hover-color;
    >a{
      background: url(img/menu-lv2-icon-active.png) no-repeat right center;
      >span{
        // color: #d3ba84;
        color: $menu-text-color;
      }
    }
  }
  /* lv3 */
  ul>li>li:hover>ul{
    display:block;
  }
  ul.lv3{
    position: absolute;
    top:0;
    left:256px;
    right:0;
    bottom:0;
    padding: 20px;
    width:600px;
    border-left:1px solid $menu-background-hover-color;
  }
  li.lv3{
    display:inline-block;
    width: 170px;
  }
  li.lv3:hover{
    background: $menu-background-hover-color;
  }
  li.lv3>a{
    display:block;
    padding: 5px 0 5px 10px;
  }
}
/* Module - Menu - End */

/* Module - Banner - Start */
.module-banner{
  overflow:hidden;
  .banner-wrapper{
    position:absolute;
    left:0;
    right:0;
    top:250px;
  }
  .banner-avatar{
    text-align: center;;
  }
  .banner-title{
    color:#fff;
    font-size: 24px;
  }
  .banner-descrip{
    color:#fff;
    font-size:50px;
    font-weight:bold;
  }
  .banner-descrip-line{
    border-top:solid 1px #fff;
    width:60px;
    height:1px;
  }
  .banner-descrip-full{
    color:#fff;
    padding:15px 0;
    font-size:18px;
  }
}
.page-home .module-banner{
  height:750px;
}
.page-tour-list .module-banner{
  height:525px;
}
/* Module - Banner - End */

/* Module - Ads - Start */
.module-ads{
  padding:33px 25px;
  color:#fff;
}

.layout-ads-left .module-ads{
  @include css-background(#694b1e, 0.8);
}
.layout-ads-right .module-ads{
  margin-left:20px;
  @include css-background(#b98a4b, 0.8);
}
.module-ads-color-hightlight{
  color:$title-color;
}
/* Module - Ads - End */

/* Module - ContentText Hotline - Start */
.contentText-hotline{
  color: #886026;
  background: #331e01;
  padding: 17px 25px 25px;
  display: inline-block;
  box-shadow: 0px 0px 5px 1px #8b7b65;
  .hotline{
    color: #ff262e;
    font-size: 31px;
  }
}
/* Module - ContentText Hotline - End */

/*----------------------------- HEADER - End ---------------------------*/
