/* START - Mixin */
@mixin css-transform ($transforms){
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform:   $transforms;
  transform: $transforms;
}
@mixin css-background ($color, $alpha){
    background: $color or transparent;
    background: rgba($color, $alpha);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='" + ie-hex-str(rgba($color, $alpha)) +"', EndColorStr='" + ie-hex-str(rgba($color, $alpha)) +"')";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='" + ie-hex-str(rgba($color, $alpha)) +"') , EndColorStr='" + ie-hex-str(rgba($color, $alpha)) +"')";
    zoom: 1 !important;
}
@mixin css-animation ($name, $value){
  -webkit-animation-#{$name}: $value;
     -moz-animation-#{$name}: $value;
      -ms-animation-#{$name}: $value;
       -o-animation-#{$name}: $value;
          animation-#{$name}: $value;
}
@mixin css-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* END - Mixin */
