/* START - Variable common style */
$base-color: #fff;
$background-default: #694b1e;
$background-paging: #523a14;
$title-color: #f3cb03;
$title-size-h1: 34px;
$title-size-h2: 28px;
$title-size-h3: 22px;
$title-size-h4: 18px;
$title-size-h5: 16px;
$title-size-h6: 14px;
$title-hover-color: #d98f1b;
$border-yeallow: #f1ca00;
$menu-text-color: $base-color;
$menu-text-hover-color: $base-color;
$menu-background-color: #322407;
$menu-background-hover-color: #54421c;
/* END - Variable common style */
