script(src="/oss/jquery/dist/jquery.min.js")
script(src="/oss/angular/angular.min.js")
script(src="/oss/angular/angular-route.min.js")
script(src="/oss/angular/angular-cookies.min.js")
script(src='/oss/angular-ui/ui-bootstrap.min.js')
script(src='/oss/angular-ui/ui-bootstrap-tpls.min.js')
script(src="/oss/underscore-min.js")
script(src="/oss/bootstrap/dist/js/bootstrap.min.js")

script(src="/scripts/app.js")
script(src="/scripts/helper.js")
script(src="/scripts/routes.js")

script(src='/scripts/services/request.js')
script(src='/scripts/services/storage.js')
script(src='/scripts/services/confirm.js')
script(src='/scripts/services/modal.js')
script(src='/scripts/services/services.js')

script(src='/scripts/filters/text.js')
script(src='/scripts/filters/config.js')


script(src='/templates/admin/controller.js')
//- script(src='/templates/admin/model.js')

