doctype html
html
  head
    title #{title}
    link(href="/photos/favicon.ico" rel="shortcut icon" type="image/x-icon")
    include head/meta.pug
    include head/style.pug
  body
    include body/frame.pug
    include body/script.pug
    block script