<article class="boundingBox">
    <section class="section bottomBorder-true">
        <h3 class="section_title">Users</h3>
        <p>Lorem ipsum dolor sit amet, vidit malis et mei. Et verear commune incorrupte vel, tale saperet praesent ei has. </p>
    </section>

    <section class="section topBorder-true">
        <div class="form-inline">
            <div class="form-group pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
      
        <pagination total-items="230"></pagination>

        <div class="clearfix"></div>
    </section>
</article>